@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "burtons";
  src: url(../../public/Burtons.otf);
}
.blob{
  height: 100%;
  width: 25%;
  background-color: aqua;
  border-radius: 50%;
  z-index: 0;
  box-shadow: 0 0 19px 19px cyan;

}